body {
  background-color: pink;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 200px;
}

.img {
  display: block;
  margin-top: 20px;
  visibility: hidden;
}

.button:hover {
  background-color: red;
  transition: 0.5s;
}

.img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.next-button {
  display: block;
  margin: 20px auto 0; /* Center button and add spacing */
  text-align: center;
}
